// 管理员界面的模板

extend layout

block page
    - var menu = 'admin'

block content
    div.admin
            // post_list是从JS文件传入的data数组里面的其中一个元素，它的名字叫post_list
        if (all_post.length === 0 )
            P
                | 没有任何文章！增加一个新文章
                a(href="/post") 新文章
                |.
        else
            //定义一个table，id为table，class类为table-striped
            table.table.table-striped
                //表头行
                thead
                    tr
                        th(colspan="2") 操作
                        th 博客的标题
                //表的内容行
                tbody
                    //循环内容
                        // 定义一个变量post，它的内容是来自post_list遍历（render函数传入的，可以参考test3.js文件的内容）
                        // Jade是支持在模板里面直接使用JavaScript的，这点要记住
                        // 还有就是，尼玛以后再也不要在代码后面写注释！！！！！！！！
                    each post, index in all_post
                        tr(data-id="#{post._id}", class=(!post.published)?'unpublished':'')
                                    //输出id，#输出为值用#{ }                 直接三元表达式
                            td.action
                                button.btn.btn-danger.btn-sm.glyphicon-remove(type="button")
                                    span.glyphicon.glyphicon-remove(title="删除")
                            td.action
                                button.btn.btn-default.btn-sm.glyphicon-play(type="button")
                                    span.glyphicon(class=(post.published)?"glyphicon-pause":"glyphicon-play",title=(post.published)?"Unpublished":"Published")
                            td= post.title
                script(type="text/javascript", src="/public/js/admin.js")
