//首页，也就是博客文章post的列表模板

//首先要从Layout中继承整个页面布局，例如page，header，footer之类的

extends layout

// 覆盖layout中的page这个block，然后
block page
    - var menu = 'index'

block content
    // 如果传递进来的post_list属性是一个空数组的话
    if (all_post.length === 0)
        | 没有任何博客文章
        a(href="/login") 登录
        | 撰写或发布文章
    else
        //循环这个数组，然后从数组中取得slug和title两个属性的值
        each post, index in all_post
            div
                h2
                    a(href="/post/#{post.slug}")= post.title
                    // #{}用来输出变量
