// 整个APP都要用的模板

doctype html
html
    head
        title= appTitle
        script(type="text/javascript", src="/public/jquery.min.js")
        link(rel='stylesheet',href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet',href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
        script(type="text/javascript", src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
        meta(name="viewport", content='width=device-width,initial-scale=1.0')
    body
        #wrap

